<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
  <!-- Begin actual content -->
  {{partial "header.html" .}}
  <article>
    {{if .Title}}
    <h1>{{ .Title }}</h1>
    {{else}}
    <h1>{{.File.BaseFileName}}</h1>
    {{end}}
    <p class="meta">
      {{ i18n "last_updated" }} {{ partial "date-fmt.html" .}}
      {{ partial "github.html" . }}
    </p>

    {{partial "textprocessing.html" .}}

    <h2>Playing</h2>
    <div class="books">
      {{ range $book := (where .Params.games "shelf" "Playing") }}
      {{ partial "shelf-item.html" . }}
      {{ end }}
    </div>
    <hr>

    <h2>Want to Play</h2>
    <div class="books">
      {{ range $book := (where .Params.games "shelf" "Want to Play") }}
      {{ partial "shelf-item.html" . }}
      {{ end }}
    </div>
    <hr>

    <h2>Played</h2>
    <div class="books">
      {{ range $book := (where .Params.games "shelf" "Played") }}
      {{ partial "shelf-item.html" . }}
      {{ end }}
    </div>
    <hr>
  </article>
  {{partial "contact.html" .}}
</div>
</body>
</html>
