// Add your own CSS here!
body {
  font-family: 'Merriweather', serif;
  background-color: var(--light);
  padding: 12px 24px;
}

:root {
  --light: #f8ebd9;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #ffc634;
  --gray: #2e2e2e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
  --drop-shadow: rgba(255, 255, 255, 0.6);
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
  --drop-shadow: rgba(0, 0, 0, 0.4);
}

img.adaptable {
  display: block;
  max-width: 80%;
  padding-top: 0;
  padding-bottom: 0;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}

[saved-theme="dark"] img.adaptable {
  mix-blend-mode: screen;
  filter: opacity(1);
}

[saved-theme="light"] img.adaptable {
  mix-blend-mode: multiply;
  filter: opacity(0.95);
}


[saved-theme="dark"] img.adaptable [src$="#invert_B"] {
  filter: invert(1) hue-rotate(180deg);
}

[saved-theme="dark"] img.adaptable [src$="#invert_W"] {
  filter: invert(1) hue-rotate(180deg);
}

[saved-theme="dark"] img.adaptable [src$="invert_B_C"] {
  filter: invert(1) hue-rotate(180deg) contrast(1.5);
}

[saved-theme="dark"] img.adaptable [src$="#invert_W_C"] {
  filter: invert(1) hue-rotate(180deg) contrast(1.45);
}

/**
 resized images in notes
 */
img[alt="factor tree of 42"] {
  width: 200px;
}

/**
 * header
 */
header {
  box-shadow: 0 1px 8px var(--drop-shadow);
  background: rgba(252, 182, 159, 0.82);
  padding: 14px 10px;
  border-radius: 12px;

  #page-title a {
    font-size: 22px;
    text-shadow: 4px 4px 2px var(--drop-shadow);
    color: var(--secondary);
  }
}

[saved-theme="dark"] header {
  background: none;
}

footer {
  margin-top: 2em;
  padding-bottom: 2em;
}

@media all and (min-width: 600px) {
  #page-title a {
    font-size: 28px;
  }
}


/**
 * content
 */
.singlePage {
  max-width: 720px;
  margin: 0 auto;

  article {
    padding: 12px 16px;

    > h1 {
      margin: 0;
    }
  }
}

/**
 * homepage tag cards
 */
.explore-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;

  .path {
    padding: 0.2em 0.5em;
    border-radius: 12px;
    border: var(--outlinegray) 1px solid;
    margin: 0 9px 9px 0;

    a {
      &::before {
        content: "#";
        margin-right: 0.3em;
        color: var(--outlinegray);
      }
    }
  }
}

/**
 * icons
 */
.icon {
  width: 18px;
  height: 18px;

  &.filled {
    fill: var(--secondary);
  }

}

/**
* Rating
*/
.rating {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
  font-weight: bold;
  color: var(--secondary);
  font-size: 18px;

  .icon {
    margin-right: 4px;
  }
}

/**
 * Bookshelf
 */
.books {
  .book {
    text-align: center;
    margin-bottom: 40px;

    color: var(--dark);

    .meta {
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: space-around;
      margin: 10px;
    }

    .title {
      line-height: 32px;
      font-weight: bold;
    }

    .cover {
      max-width: 240px;
      border-radius: 4px;
      box-shadow: 4px 4px 4px var(--drop-shadow);
    }

    .author {
      margin: 6px 0;
      color: var(--secondary);
      font-weight: normal;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media all and (min-width: 800px) {
  .book {
    display: flex;
    text-align: left;

    .cover {
      width: 180px;
      margin-right: 18px;
    }

    .date-completed {
      text-align: right;
    }
  }
}
