<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
  <!-- Begin actual content -->
  {{partial "header.html" .}}
  <article>
    {{if .Title}}
    <h1>{{ .Title }}</h1>
    {{else}}
    <h1>{{.File.BaseFileName}}</h1>
    {{end}}
    <p class="meta">
      {{ i18n "last_updated" }} {{ partial "date-fmt.html" .}}
      {{ partial "github.html" . }}
    </p>

    <h2>Reading</h2>
    <div class="books">
      {{ range $book := (where .Params.books "shelf" "Reading") }}
      {{ partial "book.html" . }}
      {{ end }}
    </div>
    <hr>

    <h2>Wish to Read</h2>
    <div class="books">
      {{ range $book := (where .Params.books "shelf" "Want to Read") }}
      {{ partial "book.html" . }}
      {{ end }}
    </div>
    <hr>

    <h2>Read</h2>
    <div class="books">
      {{ range $book := (where .Params.books "shelf" "Read") }}
      {{ partial "book.html" . }}
      {{ end }}
    </div>
    <hr>
  </article>
  {{partial "contact.html" .}}
</div>
</body>
</html>
