@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Nunito:wght@800&display=swap");
@import "variables";

img {
  display: block;
  max-width: 80%;
  padding-top: 0;
  padding-bottom: 0;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}

[saved-theme="dark"] img {
  mix-blend-mode: screen;
}

[saved-theme="light"] img {
  mix-blend-mode: multiply;
  filter: opacity(0.95);
}

[saved-theme="dark"] img[src$="invert_b"] {
  filter: invert(1) hue-rotate(180deg);
}

[saved-theme="dark"] img[src$="invert_w"] {
  filter: invert(1) hue-rotate(180deg);
}

[saved-theme="light"] img[src$="invert_b_c"] {
  filter: invert(1) hue-rotate(180deg) contrast(1.5);
}

[saved-theme="dark"] img[src$="invert_w_c"] {
  filter: invert(1) hue-rotate(180deg) contrast(1.45);
}

/**
 resized images in notes
 */
img[alt="factor tree of 42"] {
  width: 200px;
}

img[alt="диаграма на архитектурата на ОС"] {
  width: 400px;
  margin: 0 auto;
}

.left {
  display: grid !important;
  gap: 1.5rem !important;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content min-content;
  align-items: center;

  .page-title {
    grid-area: 1 / 1 / 2 / 3;
  }

  .search {
    grid-area: 2 / 1 / 3 / 2;
  }

  .darkmode {
    grid-area: 2 / 2 / 3 / 3;
  }

  .toc {
    grid-row: 3;
    grid-column: 1 / 3;
  }

  .recent-notes:nth-last-child(2) {
    grid-area: 3 / 1 / 3 / 3;
  }

  .recent-notes:nth-last-child(1) {
    grid-area: 4 / 1 / 4 / 3;
  }

  @media all and (max-width: $fullPageWidth) {
    display: flex !important;
  }
}

hr {
  overflow: visible;
  padding: 0;
  margin: 4em auto;
  border: none;
  color: var(--gray);
  text-align: center;
  width: 40%;
  border-color: var(--gray);
  &:after {
    content: "* * *";
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    background: var(--light);
  }
}

.poetry {
  font-size: 1.4rem;
  font-family: "Caveat", cursive;

  border: none;
  padding: 0;
}

.meta,
.content-meta {
  font-family: "Caveat", cursive;
}

.page > #quartz-body .sidebar {
  margin-top: 2em !important;
}
.page .page-header {
  margin-top: 2.4em !important;
}

.section {
  display: block !important;
}

.section .tags {
  margin-left: 0 !important;
}

.section .section-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.section h3 a {
  background: none;
}
